{% extends 'base.html.twig' %}

{% block title %}Find Player{% endblock %}

{% block body %}
<style>
    .highscores-wrapper { margin: 1em auto;  width: 95%; font: 18px/1.5 sans-serif; }
</style>
{#
0:Fist
1:Club
2:Sword
3:Axe
4: Distance
5:Shield
6:Fishing
#}
<div class="highscores-wrapper">
<h1>Players</h1>
        <p style="display: inline-block">Find Player: </p>
        <input type="search" name="search" id="search" onkeypress="enterSearch(event)">
        <input type="button" value="Search" onclick="search()">

</div>
<script>
    function search(){
        if (document.querySelector("#search").value != "")
            window.location.replace("/player/"+document.querySelector("#search").value)
    }
    function enterSearch(event){
        if (event.keyCode == 13){
            window.location.replace("/player/"+document.querySelector("#search").value)
        }
    }
</script>
{% endblock %}
