
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

src/Controller/configs\.json
/nbproject/private/
nbproject/

\.idea/

public/html/

public/html2/

public/configss\.json

public/vocations\.xml2

public/Nowy folder/

src/Utils/Strategy/UnifiedEntities/

src/Utils/Strategy/Unifiers/

src/Utils/Strategy/GreatUnifier\.php

templates/thora/

public/templates/thora/
