{% extends 'base.html.twig' %}

{% block title %}Admin Panel - Create Article{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    
    .charts-container {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .actions {
        display: inline-block;
        width: 40%;
        margin-left: 20px;
    }
    .actions > div > a {
        display: block;
        font-size: 14px;
    }
</style>

<div class="example-wrapper">
    <h1>Create Article</h1>
    <form action="/admin/create/article" method="post" id="admin_form" onsubmit="return submitForm(this);">
            <fieldset>
            <legend>Article</legend>
    
                <input type="text" name="title" placeholder="Title..." required>
                <input type="text" name="author" placeholder="Author..." required>
                <div id="editor" form="admin_form" name="text" ></div>
    
                <input type="submit">
    
            </fieldset>
    
    </form>
    

</div>
{% endblock %}

{% block javascripts %}
<script>
    $('.msg-button').click(function(){
        $('.messages').toggle();
    });


    function submitForm(oFormElement)
    {
        var xhr = new XMLHttpRequest();
        var formdata = new FormData (oFormElement)
        formdata.set("text", document.querySelector(".ql-editor").innerHTML);
        xhr.onload = function(){ if (xhr.status == 404){alert(xhr.responseText);}else{  alert(xhr.responseText); window.location.href = '/news'} }
        xhr.open (oFormElement.method, oFormElement.action, true);

        xhr.send (formdata);
        return false;
    }




    hljs.configure({   // optionally configure hljs
        languages: ['javascript', 'php', 'html', 'twig']
    });

    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['link', 'blockquote', 'code-block', 'image', 'video'],

        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown


        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];

        var options = {
        debug: 'info',
        modules: {
        toolbar: toolbarOptions,
        syntax: true
        },
        placeholder: 'Compose an epic...',
        readOnly: false,
        theme: 'snow'
    };

    var reader = {
        modules: {
        syntax: true
        },
        readOnly: true,
        theme: 'bubble'
    };


        if (document.getElementById("editor"))
            var editor = new Quill('#editor',options);

        if (document.getElementsByClassName("ql-editor ns")){
            for (let index = 0; index < document.getElementsByClassName("ql-editor ns").length; index++) {
                new Quill(document.getElementsByClassName("ql-editor ns")[index],reader);

            }
        }
</script>
{% endblock %}
