{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto;  width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #form > div > label {display: block;}
</style>

<div class="example-wrapper">
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    <h1>Register</h1>


        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

</div>
{% endblock %}
