{% extends 'base.html.twig' %}

{% block title %}Account - Create Character{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto;  width: 95%; font: 18px/1.5 sans-serif; }
    
    #form > div > label {display: block;}
</style>

<div class="example-wrapper">
    <a href="/account">&lt; Back</a>
    {% for error in errors %}
        <p>{{error}}</p>
    {% endfor %}
    <h1>Create Guild</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </ul>
</div>
{% endblock %}
